// Main Colours
$dark-background: rgb(25, 25, 25);
$sig-color: rgb(125, 0, 184);
// $sig-color-accent: ;
$selected-text: white;
$grey-text: grey;

// Alternative bg colors: purple - rgb(41, 26, 59), burgundy - rgb(44, 11, 11), blue - rgb(0, 3, 32), green - rgb(0, 32, 4), teal - rgb(0, 27, 32), seafoam - rgb(0, 50, 32)

// Font
$primary-font: "Roboto", sans-serif;

// Icons
$icon-hw: 4rem;
$icon-margin: 1rem;

@mixin icon-vars {
  border-radius: 2rem;
  height: $icon-hw;
  width: $icon-hw;
}

// Layout
$header-height: ($icon-margin * 2) + $icon-hw;
$sidebar-width-rooms: $header-height;
$sidebar-width-channels: $sidebar-width-rooms * 3;
$sidebar-width-room-members: $sidebar-width-channels;
