@import "../../styles/variables.scss";

.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  height: $icon-hw;
  width: $icon-hw;
  margin: $icon-margin;
  border-radius: 2rem;

  &:hover {
    border-radius: 1.5rem;
    cursor: pointer;
  }

  .room-icon {
    height: 4rem;
    width: 4rem;
    border-radius: inherit;
    padding: 0;
    &--selected {
      border-radius: 1.5rem;
    }
  }

  .room-name {
    width: 3.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 1.5rem;
  }

  .notification {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 90%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: rgba(255, 0, 0, 0.75);
  }
}
